*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
   
    font-size: 35px;
}
nav h1{
    justify-content: center;
    display: flex;
    gap: 50px;
    font-size: 35px;
    font-weight: 900;
}
nav h1 ul{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    justify-content: center;

}
nav h1 li{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    text-decoration: none;
    justify-content: center;
    display: flex;
   
}
a{
    text-decoration: none;
}
li :hover{
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}